@import "../../partials/partial";

.main {
  @include padding-mobile;
  display: flex;
  flex-direction: column;
  @include padding-tablet;
  @include media($tablet) {
    display: flex;
  }

  &__image {
    width: 100%;
  }
  &__title {
    font-size: 24px;
    font-family: $font-family;
    font-weight: 700;
    margin-top: 1rem;
    @include media($tablet) {
      font-size: 36px;
    }
  }
  &__timestamp {
    @include media($tablet) {
      padding-left: 1rem;
    }
  }
}

.post {
  display: flex;
  justify-content: left;
  border-bottom: 2px solid $mercury;
  @include media($tablet) {
    border-bottom: 2px solid $mercury;
  }

  &__views {
    padding-right: 2rem;
  }

  &__image {
    padding-left: 1rem;
  }
}

.list {
  @include media($tablet) {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid $mercury;
  }
}

.time {
  display: flex;
  justify-content: space-evenly;
  font-family: $font-family;
  font-weight: 700;
  @include media($tablet) {
    padding-right: 10rem;
    font-size: 16px;
  }
}

.desc {
  font-size: 14px;
  font-family: $font-family;
  font-weight: 400;
  @include media($tablet) {
    font-size: 18px;
  }
}

.comment {
  display: flex;

  &__no {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1rem;
    @include media($tablet) {
      font-size: 1.5rem;
    }
  }

  &__enter {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: $alabaster;
    color: 1px solid $mercury;
    border-radius: 0.5rem;
    border: 3px solid $mercury;
    @include media($tablet) {
      height: 50px;
      width: 25rem;
      border: 3px solid $mercury;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  &__conversation {
    font-size: 14px;
    font-family: $font-family;
    font-weight: 400;
    color: $silver;
    @include media($tablet) {
      font-size: 14px;
    }
  }

  &__button {
    background-color: $brainflix-blue;
    margin-top: 1rem;
    height: 3.5rem;
    color: white;
    font-family: $font-family;
    font-weight: 400;
    border-radius: 0.5rem;
    border: 2px solid;
    @include media($tablet) {
      margin-left: 2rem;
      height: 50px;
      margin-top: 0.5rem;
      border: 2px solid;
    }
  }
}
.comment-section {
  @include media($tablet) {
    display: flex;
  }
}

.image__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
