@import "../../partials/partial";

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;

  @include media($tablet) {
    display: flex;
    flex-direction: row;
    // padding-left: 32px;
    // padding-right: 32px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5rem;
    margin-top: 1rem;

    @include media($tablet) {
      width: 15%;
      padding-right: 4rem;
      margin-bottom: 1rem;
    }
  }
}

.search {
  display: flex;

  &__input {
    height: 50px;
    width: 100%;
    text-align: left;
    background-color: $alabaster;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e1e1e1;
    font-size: 1rem;
    font-family: Avenir Next Regular;
    background-image: url(../../Assets/Icons/Icon-search.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    padding-left: 2rem;

    @include media($tablet) {
      height: 50px;
      padding-right: 3rem;
      padding-left: 3rem;
      width: 100%;
    }
  }
}

.navbar__upload {
  width: 75%;
  font-size: 1rem;
  background-color: $brainflix-blue;
  height: 50px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-image: url(../../Assets/Icons/Icon-upload.svg);
  background-repeat: no-repeat;
  color: white;
  background-position: 30%;
  padding-left: 1.5rem;
  border: 1px solid #e1e1e1;

  @include media($tablet) {
    padding-left: 1rem;
    margin-left: 1rem;
    height: 50px;
    background-position: 2%;
    width: 100%;
    border: 1px solid #e1e1e1;
  }
}
.avatar__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding-top: 1rem;

  @include media($tablet) {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding-left: 1rem;
  }
}
.logos {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}
